html {
  font-size: 62.5%;
}

:root {
  --fs-400: clamp(1.5rem, 1vw + 0.5rem, 2rem);
  --fs-300: clamp(1.2rem, 1vw + 0.4rem, 1.6rem);
  --fs-200: clamp(1rem, 1vw + 0.2rem, 1.4rem);
  --fs-500: clamp(1.8rem, 1vw + 0.5rem, 2.2rem);
  --fs-700: clamp(4rem, 1vw + 0.5rem, 3rem);
}

p {
  margin: 0px;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  margin: 0px;
}

h1 {
  font-size: var(--fs-700);
  color: white;
  margin: 0px;
}

h2 {
  margin: 0px;
  font-size: var(--fs-500);
  color: white;
}

.left-side {
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 50px;
  gap: 15px;
}

.your-result {
  font-size: var(--fs-400);
  color: rgb(204, 204, 204);
}

.circle {
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  padding: 20px 35px;
  border-radius: 100px;
}

.max-ammount {
  font-size: var(--fs-300);
  color: rgb(204, 204, 204);
}

.desc {
  color: rgb(204, 204, 204);
  font-size: var(--fs-300);
  text-align: center;
}

.right-side {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.summary {
  color: black;
  font-size: var(--fs-400);
  font-weight: bold;
}

.info {
  justify-content: space-between;
  max-width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.item-type {
  font-size: var(--fs-400);
}

.item-ammount {
  font-size: var(--fs-400);
  font-weight: bold;
}

.item-max-ammount {
  font-size: var(--fs-400);
  color: rgb(117, 117, 117);
  font-weight: bold;
}

.button {
  width: 90%;
  padding: 10px;
  font-size: var(--fs-400);
  border: none;
  color: white;
  background-color: hsl(224, 30%, 27%);
  border-radius: 30px;
  cursor: pointer;
}

.button:hover {
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}

.attribution {
  font-size: var(--fs-300);
  display: flex;

  bottom: 0px;
}

@media (min-width: 769px) {
  .main-container {
    display: flex;
    flex-direction: row;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(82, 85, 255, 0.26);
  }
  .left-side {
    max-width: 50%;
    width: 40%;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-radius: 0px;
  }
  .right-side {
    width: 50%;
    max-width: 50%;
  }
  .item-type {
    font-size: var(--fs-200);
  }

  .item-ammount {
    font-size: var(--fs-200);
    font-weight: bold;
  }

  .item-max-ammount {
    font-size: var(--fs-200);
  }
}
